/* место для вашего кода */

.header {
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  align-items: center;
  padding: 91px 24px 92px;
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-right: 1px;
}

.header__menu-list {
  display: flex;
  gap: 26px;
  text-indent: 6px;
  list-style-type: circle;
}

.header__menu-list li:first-child {
  list-style-type: none;
}

.header__menu-link {
  color: #000;
  font-size: 18px;
}

.header__menu-link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  align-self: stretch;
  width: 148px;
  height: 105px;
  padding: 0px 6px 6px;
}

.header__logo-image {
  width: 100%;
}

.adress {
  display: block;
  justify-self: start;
  align-self: center;
}

.adress-header {
  padding-left: 181px;
}

.address__contacts-link {
  display: block;
  font-style: normal;
  color: #000;
  font-size: 18px;
  line-height: 1.35;
}

.cover {
  position: relative;
  height: 100%;
  margin: 0 9px 0;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-origin: content-box;
}

.overlay {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  padding: 163px 49px 132px 47px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  letter-spacing: 3px;
  line-height: 1;
}

.aligned-left {
  line-height: 1.15;
}

.aligned-text_center {
  padding: 16px 0 19px 0;
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.letter-spacing-extended-small {
  letter-spacing: 15px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 49px 48px 80px;
}

.cover__description-text {
  color: #FFF;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  word-spacing: 17px;
}

.bet-button {
  border: 1px solid #FFF;
  padding: 12px 29px 12px 29px;
  color: #FFF;
  font-family: Raleway, sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  display: flex;
  flex-direction: column;
  padding: 171px 33px 0;
}

.lots__heading {
  align-items: center;
  padding: 5px 0 27px 37px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style-type: none;
  flex-wrap: wrap;
}

.lots__card-list-item {
  position: relative;
  flex-grow: 1;
  flex-basis: 328px;
}

.card-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 48px 34px 41px 39px;
  line-height: 1.2;
}

.card__title {
  align-items: start;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  align-items: start;
  color: #FFF;
  font-weight: 400;
  font-size: 20px;
}

.card_type {
  position: relative;
  background-size: cover;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
  background-position: left;
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
  background-position: center;
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
  background-position: center;
}

.lots__look-more-link {
  justify-content: center;
  padding: 29px 0 0 39px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 352px auto;
  grid-column-gap: 25px;
  align-items: center;
  padding: 179px 9px 0;
}

.about__column {
  align-self: self-start;
}

.about__logo {
  display: flex;
  width: 237px;
  height: 237px;
  margin: 0 45px 0 70px;
  border: 1px solid #0F1C3F;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  padding: 61px 45px 62px 45px;
}

.about__title {
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 97px;
  padding-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-right: 12px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
}

.about__text p {
  line-height: 1.15;
}

.footer {
  display: grid;
  grid-template-columns: 240px auto 237px;
  justify-content: space-between;
  align-items: start;
  padding: 182px 58px 56px;
}

.address {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35;
  list-style-type: none;
}

.footer__menu {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__menu-link.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link {
  color: #000;
  font-size: 18px;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  align-items: start;
  list-style-type: none;
}

.footer__social-list-item {
  width: 50px;
  height: 50px;
}

.footer__social-link {
  display: flex;
  width: 100%;
  height: 100%;
}

.content-section {
  width: 1100px;
  margin: auto;
}
